{% extends 'base.html' %}


{% block head %}
    <style>
        div.container {
            display: flex;
            margin-top:30px;
            margin-left: 30px;
        }

        div.other_users{
            position: relative;
            left: 850px;
        }

        div.home_title{
            margin-top:50px;
            margin-bottom: 100px;
        }

        a.hello_user {
            position: relative;
            left: 1400px;
        }


    </style>
{% endblock %}

{% block content %}


{% if request.user.is_authenticated %}

<div class="home_title">
    <center> <h1>This is home!</h1> </center>
</div>

<div class="container">
    <div class="form">
        <form method="post" enctype="multipart/form-data" action= "{% url 'do_post' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value="Upload"/>
        </form>

        {% if posts %}
            {% for post in posts reversed %}
            <h5> {{ post.post }} </h5>
            {% if post.post_Img %}
                <a> <img src = "{{ post.post_Img.url  }}" height="300" width="417" /> </a>
            {% endif %}
            <p><i>{{ post.user }} posted this on {{ post.date }}</i> </p>
            {% endfor %}
        {% else %}
            Your page is currently empty.
        {% endif %}
    </div>

    <div class="other_users">
        <span>
            <h1>Other Users</h1>
            {% for a_user in users %}
                        <a href="{% url 'show_profile_pk' pk=a_user.pk %}">
                            <p>{{ a_user }}</p>
                        </a>
                        <a href="{% url 'add_friend'  pk=a_user.pk %}">
                        <button class ="befriend_btn"> Befriend </button>
                        </a>
            {% endfor %}

        </span>
    </div>
</div>

{% endif %}
{% endblock %}